/* Centralización de colores principales */
[data-theme="light"] {
  --color-red: #D90429;
  --color-white: #fff;
  --color-black: #111;
  --color-gray: #e5e5e5;
  --color-border: #e5e5e5;
  --color-text: #222;
  --color-background: #fff;
}

[data-theme="dark"] {
  --color-red: #D90429;
  --color-white: #fff;
  --color-black: #111;
  --color-gray: #222;
  --color-border: #222;
  --color-text: #fff;
  --color-background: #111;
}
