---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://instagram.com/nte_fitness",
    description: "Instagram NTE",
    icon: "mdi:instagram",
  },
  {
    url: "https://wa.me/52590878",
    description: "WhatsApp NTE",
    icon: "mdi:whatsapp",
  },
  {
    url: "https://chat.whatsapp.com/CVuXGKhFU4zEf6erJCYEbc",
    description: "Grupo WhatsApp NTE",
    icon: "mdi:account-group",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40"></div>
  <ul class="relative flex justify-center items-center gap-8">
    {
      links.map((link) => (
        <li>
          <a
            class="flex items-center justify-center"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon name={link.icon} class="w-16 h-16 text-[var(--color-red)]" />
          </a>
        </li>
      ))
    }
  </ul>
  </ul>
  <div class="w-full text-center mt-1 text-[0.1px] text-[var(--color-red)] absolute bottom-2 left-0">
    © 2025 NTE Fitness. Todos los derechos reservados.<br>
    Desarrollado por Ricardo Onel Alfonso Ayala, CEO de NTE Fitness.
  </div>
</footer>
