---
import ContentList from "~/components/content-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { ContentItem } from "~/types";

const pagos: Array<{ title: string }> = [
  { title: "Efectivo (CUP, USD, Euro)" },
  { title: "Transferencia (CUP, MLC, Bancaria)" },
  { title: "Pago por Zelle/Bizum" },
  { title: "Pago Mixto" },
];
---

<ContentSection title="Formas de pago y envío" id="shipping" class="">
  <Fragment slot="lead">
  <div class="mx-auto max-w-5xl text-lg" style="line-height:1.7;">
      NTE <span style="color:var(--color-red);">te acompaña</span> en cada etapa. Elige el suplemento ideal y paga como prefieras, con envíos y atención personalizada. El pago se realizará al momento de la compra, con garantía de que los productos son originales y sellados. Además, realizamos envíos a toda La Habana por un coste adicional.
    </div>
  </Fragment>
  <style>
    #shipping .section-title {
      font-size: 1rem;
    }
    ::selection {
      background: var(--color-red);
      color: white;
    }
  </style>
  <ul class="mx-auto max-w-5xl text-sm mt-8 mb-8 flex flex-row gap-4 justify-center flex-wrap">
    {pagos.map((pago) => (
  <li class="border border-default px-4 py-2 bg-offset text-center font-medium whitespace-nowrap">
        {pago.title}
      </li>
    ))}
  </ul>
</ContentSection>
